html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*-------------------------------------------------*/
.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__background {
  background-position: center;
  background-size: cover;
  z-index: -1;
  width: 100%;
}

.header__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc((1vh + 1vw) * 1.4);
  padding-top: calc((1vh + 1vw) * 1.4);
}

.header__item {
  text-transform: uppercase;
  font-size: calc((1vh + 1vw) * 0.8);
}

@media (max-width: 700px) {
  .header__item {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms cubic-bezier(1, 0.005, 0, 1.005);
  }
  .header__banner.active {
    justify-content: start;
    gap: calc((1vh + 1vw) * 1.4);
    position: fixed;
    inset: 0;
    background-color: #d0ece2;
    flex-direction: column;
  }
  .header__banner.active .header__logo {
    order: -1;
  }
  .header__banner.active .header__item-active {
    display: block;
    opacity: 1;
    visibility: visible;
    font-size: calc((1vh + 1vw) * 0.8 * 3);
  }
}
/*
.icon__menu {
    display: none;
    @media (max-width:$md3) {
        display: block;
        position: absolute;
        top: 18px;
        right: 18px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child { 
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}*/
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__main-one {
  display: flex;
  flex-wrap: wrap;
}

.desc-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: calc((1vh + 1vw) * 1.2);
  padding: calc((1vh + 1vw) * 3) calc((1vh + 1vw) * 4);
}

.desc-block__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: calc((1vh + 1vw) * 0.1);
}

.complex-block__text,
.desc-block__text {
  text-align: center;
  line-height: calc((1vh + 1vw) * 1.6);
  letter-spacing: calc((1vh + 1vw) * 0.08);
}

.universal-logo img {
  height: calc((1vh + 1vw) * 2.5);
}

.complex-block__bottom img {
  width: calc((1vh + 1vw) * 36);
}

@media (min-width: 1523px) {
  .complex-block__bottom img {
    width: auto;
  }
  .main-one__photo {
    flex: 0 1 65%;
  }
  .main-one__block {
    flex: 0 1 100%;
  }
  .main-one__complex {
    flex: 0 1 35%;
  }
}
.desc-photo {
  width: 100%;
}

.desc-photo__photo {
  background-position: center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-photo__logo {
  height: calc((1vh + 1vw) * 5.5);
}

.complex-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.complex-block__upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: calc((1vh + 1vw) * 1.2);
  padding: calc((1vh + 1vw) * 3) calc((1vh + 1vw) * 1.4);
  position: relative;
}

.complex-block__upper:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid rgb(255, 255, 255);
  bottom: -25px;
}

.complex-block__text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complex-block__text::after {
  content: "";
  position: absolute;
  width: calc((1vh + 1vw) * 4);
  border-bottom: 1px solid #333;
  bottom: calc((1vh + 1vw) * -1.4);
}

.complex-block__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: calc((1vh + 1vw) * 0.1);
}

.complex-block__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc((1vh + 1vw) * 1.2);
  color: #333;
}

a {
  color: #333;
}

.container {
  position: absolute;
  top: 0;
  width: calc((1vh + 1vw) * 28);
}

.logo {
  width: calc((1vh + 1vw) * 4.3);
}

.wrapper {
  position: relative;
  z-index: -4;
}